.botoes {
    width: 14rem;
    padding: 1.2rem 0;    
    border-radius: 2rem;
    border: none;
    color: #FAFAFA;
    font-size: 1rem;
    font-weight: 600;
}

.botao__ios {
    background: #26BBA4;
    margin-right: .5rem;
    box-shadow: 0px 2px 5px #26BBA4;
}

.botao__mac{
    background: #6174FF;
    margin-left: .5rem;
    box-shadow: 0px 2px 5px #6174FF;
}
