@import url(./reset.css);
@import url(./variaveis.css);
@import url(./botoes.css);

body {
    font-family: var(--fonte-principal);
    font-size: var(--tamanho-corpo);
    color: var(--cinza-claro);
    font-weight: var(--peso-paragrafo);
    display: flex;
    flex-direction: column;
    align-items: center;

    background:url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100vw 30vh;

}
  
.container__cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 14vh 17.5%;
}

.titulos {
    color: var(--cinza-escuro);
    font-weight: var(--peso-titulo);
}

.titulo__cabecalho { 
    font-size: 2.8rem;
    margin: 3rem 0 0;
}

.paragrafo__cabecalho{
    line-height: 1.75rem;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.titulo__main {
    font-size: 2.2rem;
    text-align: center;
    margin-top: 3rem;
}

.paragrafo__main {
    text-align: center;
    margin: 0 25vw 10rem;
    line-height: 2rem;
}

.imagem__computador {
    display: block;
    position: absolute;
    left: -4vw;
    width: 50vw;
}

.container__funcionalidades {
    margin-left: 55vw;
    width: 35vw;
    padding-top: 2rem;
    line-height: 1rem;
}

.paragrafo__funcionalidades {
    margin-bottom: 3.5rem;
    line-height: 2rem;
}

.container__access {
    margin-top: 16vw;
    text-align: center;
}

.titulo__access {
   font-size: 2rem;
}

.paragrafo__acess {
    margin: 0 25vw 5rem;
    line-height: 2rem;
}

.container__workflow {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 2rem 12vw 0;
}

.workflow__itens {
    width: 23vw;
}

.paragrafo__workflow{
    font-size: 1rem;
    line-height: 2rem;
}

.container__marcas {
    display: flex;
    justify-content: space-between;
    margin: 7rem 12vw 0;
}

.container__download {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 14vh 17.5% 0;
}

.titulo__download {
    font-size: 2.5rem;
    margin: 3rem 0 0;
}

.paragrafo__download {
    line-height: 1.75rem;
    font-size: 1.3rem;
    margin-bottom: 3rem;
}

.container__rodape {
    background-color: #e9eff1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    padding: 3rem 0;
    width: 100vw;
}

.logo__rodape {
    width: 55px;
    height: 55px
}

.texto__rodape {
    width: 38vw;
    text-align: left;
}

.links__rodape {
    text-decoration: none;
    color: #5f5f5f;
    margin-right: 2rem;
}

.contato__rodape {
    width: 30vw;
}